.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

body {
	color: #FFF;
	background-image: url(../img/back10.png);
    background-repeat:no-repeat;
    background-size:cover;
}

.shadow {
	text-shadow: 2px 2px 4px #000;
}

.mb6 {
	margin-bottom: 6px;
}

.mb12 {
	margin-bottom: 12px;
}

.mb24 {
	margin-bottom: 24px;
}

.mb48 {
	margin-bottom: 48px;
}